<div class="row">
    <div id="alert" class="span10">
    </div>
</div>

<div class="row visible-desktop">
    <div class="span3">
        <div menu="type" class="btn-group" data-toggle="buttons-radio">
            <button class="btn" typ="electricity">Electricity</button>
            <button class="btn" typ="gas">Gas</button>
            <button class="btn" typ="water">Water</button>
        </div> 
    </div>

    <div class="span5">
        <div menu="interval" class="btn-group" data-toggle="buttons-radio">
            <button class="btn" interval="minute">Minute</button>
            <button class="btn" interval="hour">Hour</button>
            <button class="btn" interval="day">Day</button>
            <button class="btn" interval="month">Month</button>
            <button class="btn" interval="year">Year</button>
            <button class="btn" interval="night">Night</button>
        </div> 
    </div>

    <div class="span2">
        <div class="btn-group" style="float:right">
            <button class="btn">Unit</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul menu="unit" class="dropdown-menu pull-right">
                <li><a href="#" class="electricity rt" unit="watt">watt</a></li>
                <li><a href="#" class="electricity" unit="kwhperyear">kWh/year</a></li>
                <li><a href="#" class="gas water" unit="lpermin">l/min</a></li>
                <li><a href="#" class="gas water rt" unit="lperday">l/day</a></li>
                <li><a href="#" class="gas water" unit="m3peryear">m3/year</a></li>
                <li class="divider"></li>
                <li><a href="#" class="electricity" unit="wh">Wh</a></li>
                <li><a href="#" class="electricity cumul" unit="wh">Wh [cumulative]</a></li>
                <li><a href="#" class="gas water" unit="liter">liter</a></li>
                <li><a href="#" class="gas water cumul" unit="liter">liter [cumulative]</a></li>
                <!--li><a href="#" class="electricity gas water" unit="eurperyear">eur/year</a></li-->
            </ul>
        </div>
    </div>
</div>

<div class="row hidden-desktop">
    <div class="span10 btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                Type
                <span class="caret"></span>
            </button>
            <ul menu="type" class="dropdown-menu">
                <li><a href="#" typ="electricity">electricity</a></li>
                <li><a href="#" typ="gas">gas</a></li>
                <li><a href="#" typ="water">water</a></li>
           </ul>
        </div> 

        <div class="btn-group">
            <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                Interval
                <span class="caret"></span>
            </button>
            <ul menu="interval" class="dropdown-menu">
                <li><a href="#" interval="minute">minute</a></li>
                <li><a href="#" interval="hour">hour</a></li>
                <li><a href="#" interval="day">day</a></li>
                <li><a href="#" interval="month">month</a></li>
                <li><a href="#" interval="year">year</a></li>
                <li><a href="#" interval="night">night</a></li>
           </ul>
        </div> 

        <div class="btn-group">
            <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                Unit
                <span class="caret"></span>
            </button>
            <ul menu="unit" class="dropdown-menu pull-right">
                <li><a href="#" class="electricity rt" unit="watt">watt</a></li>
                <li><a href="#" class="electricity" unit="kwhperyear">kWh/year</a></li>
                <li><a href="#" class="gas water" unit="lpermin">l/min</a></li>
                <li><a href="#" class="gas water rt" unit="lperday">l/day</a></li>
                <li><a href="#" class="gas water" unit="m3peryear">m3/year</a></li>
                <li class="divider"></li>
                <li><a href="#" class="electricity" unit="wh">Wh</a></li>
                <li><a href="#" class="electricity cumul" unit="wh">Wh [cumulative]</a></li>
                <li><a href="#" class="gas water" unit="liter">liter</a></li>
                <li><a href="#" class="gas water cumul" unit="liter">liter [cumulative]</a></li>
                <!--li><a href="#" class="electricity gas water" unit="eurperyear">eur/year</a></li-->
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div id="chart"></div>
    </div>
</div>

<div class="row">
    <div id="fluksonians" class="span10">
    </div>
</div>

<div class="row">
    <div id="fluksonian-ctrl" class="span10 btn-group" data-toggle="buttons-radio">
        <button class="btn" id="fluksonian-show">Show</button>
        <button class="btn" id="fluksonian-remove">Remove</button>
        <input type="text" id="fluksonian-add" class="input-medium" placeholder="Add a Fluksonian" data-provide="typeahead">
    </div> 
</div>


<script type="text/template" id="avatar-add">
    <div class= "avatar">
        <img title="<%= name %>" uid="<%= uid %>" src="<%= avatar %>">
    </div>
</script>

<script type="text/template" id="alert-no-sensor">
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error - </strong> No <%= type %> sensors to display. Please select another sensor type.
    </div>
</script>

<script type="text/template" id="alert-no-realtime">
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error - </strong> Real-time charting is not available on this Fluksometer. If you have an FLM02, then please upgrade to the latest firmware release on the my account -> devices page.
    </div>
</script>

<script type="text/template" id="alert-timeout-rt">
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error - </strong> The call for sensor <%= func %> experienced a timeout. You are probably not in the same local network as the FLM.
    </div>
</script>
